/.env
/.venv
/.vscode
/build
/dump.sql
/jenopardy.spec
/jsondump
/quiz.png
/tests
/__pycache__
/modules/__pycache__
/utils/__pycache__
/jenopardy.zip
/altconfig.py
/main.build
/main.dist
/main.onefile-build